@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans 3", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Tack */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handl on Hover */
::-webkit-scrollbar-track:hover {
  background: #555;
}

ul {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

ul li {
  margin-bottom: 0px; /* Adjust this value for your desired spacing */
  margin-left: 1rem; /* Add some left padding for indentation */
}

.song-component__name {
  margin: 0;
}
