@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans 3", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Tack */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handl on Hover */
::-webkit-scrollbar-track:hover {
  background: #555;
}

/* List style */
ul {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  list-style-type: none;
}

ul li {
  margin-bottom: 0px; /* Adjust this value for your desired spacing */
  margin-left: 1rem; /* Add some left padding for indentation */
}

/* Dashboard style */
.dashboard {
  display: flex;
  position: relative;
}
.time-slots-for-every-date-section {
  display: flex;
  padding: 1rem 1rem 1rem 1rem;
}

.dashboard__separator {
  border-right: solid;
  border-right-width: 0.5rem;

  position: fixed;
  height: 100vh;
  left: 50vw;
}

.checkable-songs-column {
  border-right: solid #555;
  width: 12rem;
}

.daily-time-slots-column {
  padding: 0 1rem 0 3rem;
}

.song-component__name {
  margin: 0;
}
