@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans 3", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Tack */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handl on Hover */
::-webkit-scrollbar-track:hover {
  background: #555;
}

/* List style */
ul {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  list-style-type: none;
}

ul li {
  margin-bottom: 0px; /* Adjust this value for your desired spacing */
  margin-left: 1rem; /* Add some left padding for indentation */
}

/* Dashboard style */
.dashboard {
  display: flex;
  width: 100%;
}
.select-songs-section {
  display: flex;

  width: 50%;
  padding: 1rem 1rem 1rem 0rem;

  border-right: solid;
  border-right-width: 0.25rem;
}

.song-selection-column {
  border-right: solid #555;
  width: 12rem;
}

.daily-time-slots-column {
  padding: 0 1rem 0 3rem;
}

.song-component__name {
  margin: 0;
}

.select-date-section {
  display: flex;
  flex-direction: column;

  padding: 1rem 1rem 1rem 1rem;
  border-left: solid;
  border-left-width: 0.25rem;
}

/* Toggle component */
.title {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.arrow {
  margin-left: 8px;
  transition: transform 0.3s;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.right {
  border-top: 6px solid #000;
  transform: rotate(0deg);
}

.down {
  border-bottom: 6px solid #000;
  transform: rotate(90deg);
}
